:root .wp-block-cover {
	padding: var(--grid-gutter-height) 0;

	& > .wp-block-cover__inner-container {
		width:100%;
		max-width: calc(var(--content-width) + var(--grid-gutter-width) * 2);
	}

	&.alignwide {

		@media (--xs-query) {
			max-width: none;
			width: auto;
			margin-left: calc(var(--grid-gutter-width) * -1);
			margin-right: calc(var(--grid-gutter-width) * -1);
		}
	}
}
